html,
body,
#root {
  height: 100%;
}
.vir-table {
  height: 100%;
}
.vir-table-header th,
.vir-table-body td {
  min-height: 20px;
  padding: 25px;
}
.vir-table-header table,
.vir-table-body table {
  width: 100%;
  table-layout: fixed;
}
.vir-table-body table tbody tr :hover {
  background-color: rgb(230, 247, 255);
}
.vir-table-body {
  max-height: 100%;
}
